<header>
   <!-- <h3 class="head">Hello WOrLd</h3> -->
   <img src="/images/hero-fly.png"></img>
   <img src="/images/hero-sit.png"></img>
   <img src="/images/hero.jpeg"></img>
   <img src="/images/bender-hero.png"></img>
   <img src="/images/person-lecture.png"></img>
  </header>