<nav class="nav">
<ul class="list">
    <li class="list_items">Home</li>
    <li class="list_items">News</li>
    <li class="list_items">Blog</li>
    <li class="list_items">Contact</li>
    <li class="list_items">About</li>
</ul>
</nav>